nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 4px;
    padding-left: 10px;
  }
  
  a {
    color: black;
  }